{% extends 'base.html.twig' %}

{% block title %}Hello MemberController!{% endblock %}

{% block body %}
    {% embed 'macros/_section.html.twig' %}
        {% block content %}
            <div class="flex flex-col gap-4">
                <div class="flex flex-row justify-between w-full">
                    <h1>Bonjour {{ app.user.firstname }} &nbsp;!</h1>

                    <div class="flex flex-row items-center gap-2">
                        <span class="font-ink text-sm font-medium">Editer&nbsp;:</span>
                        <label class="inline-flex items-center cursor-pointer">
                            <input id="btn-edit" type="checkbox" value="" class="sr-only peer">
                            <div class="toggle flex items-center justify-center text-center text-2xl select-none">&#9998;</div>
                        </label>
                    </div>

                </div>

                <section id="section-readable">
                    <h2>Vos informations personnelles :</h2>
                    <ul class="flex flex-col gap-2">
                        <li>
                            <div class="flex flex-row items-center">
                                <p class="font-bold">Avatar:</p>
                                <div class="w-full text-right">
                                    {% if app.user.avatarFilename %}
                                        <img src="{{ asset('uploads/avatars/' ~ app.user.avatarFilename) }}"
                                             alt="Avatar de {{ app.user.firstname ~ ' ' ~ app.user.lastname }}"
                                             width="100" height="100"
                                             class="inline-block rounded-full">
                                    {% else %}
                                        <img src="{{ asset('uploads/avatars/default_avatar.png') }}"
                                             alt="Avatar de {{ app.user.firstname ~ ' ' ~ app.user.lastname }}"
                                             width="100" height="100"
                                             class="inline-block rounded-full">
                                    {% endif %}
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="flex flex-row">
                                <p class="font-bold w-full">Prénom:</p>
                                <p class="w-full text-right">{{ app.user.firstname }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="flex flex-row">
                                <p class="font-bold w-full">Nom:</p>
                                <p class="w-full text-right">{{ app.user.lastname }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="flex flex-row">
                                <p class="font-bold w-full">Email:</p>
                                <p class="w-full text-right">{{ app.user.email }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="flex flex-row">
                                <p class="font-bold w-full">Adresse:</p>
                                <p class="w-full text-right">{{ app.user.address }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="flex flex-row">
                                <p class="font-bold w-full">Numéro de téléphone:</p>
                                <p class="w-full text-right">{{ app.user.phone }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="flex flex-row">
                                <p class="font-bold w-full">Status de l'inscription:</p>
                                <p class="w-full text-right">{{ app.user.membershipStatus }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="flex flex-row">
                                <p class="font-bold w-full">L'inscription expire à:</p>
                                <p class="w-full text-right">{{ app.user.membershipExpiresAt|date('d/m/Y') }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="flex flex-row">
                                <p class="font-bold w-full">Dernière mise à jour:</p>
                                <p class="w-full text-right">{{ app.user.updatedAt|date('d/m/Y') }}</p>
                            </div>
                        </li>

                    </ul>
                </section>

                <section id="section-editable" class="hidden">
                    {{ form_start(form) }}
                        {{ form_row(form.avatar) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.firstname) }}
                        {{ form_row(form.lastname) }}
                        {{ form_row(form.address) }}
                        {{ form_row(form.dateOfBirth) }}
                        {{ form_row(form.phone) }}
                        <a href="{{ path('app_member_change_password') }}" class="btn btn-secondary underline text-red-700">Cliquez ici pour modifier votre mot de passe.</a>
                        {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                    <form action="{{ path('app_member_avatar_delete') }}" method="post">
                        <button id="btn-delete-avatar" type="submit" class="btn btn-secondary hidden">Supprimer votre avatar</button>
                    </form>
                </section>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
