{% extends 'base.html.twig' %}

{% block title %}Hello BoardController!{% endblock %}

{% block body %}
    <div class="flex flex-col gap-4">
        <h1>Panneau de validation des requêtes de membres&nbsp;:</h1>
        <h3>*À utiliser sur dekstop.</h3>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Adresse</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Date/heure de demande</th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            <tbody>
            {% for membership_request in membership_requests %}
                <tr>
                    <th>{{ membership_request.requester.firstname }}</th>
                    <th>{{ membership_request.requester.lastname }}</th>
                    <th>{{ membership_request.requester.email }}</th>
                    <th>{{ membership_request.requester.address }}</th>
                    <th>{{ membership_request.requester.dateOfBirth|date('d/m/Y') }}</th>
                    <th>{{ membership_request.createdAt|date('d/m/Y h:m') }}</th>
                    <th class="flex flex-row gap-1">
                        <form action="{{ path('app_secretary_validate', {id: membership_request.id}) }}" method="POST">
                            <button type="submit" class="btn btn-secondary">Valider</button>
                        </form>

                        <form action="{{ path('app_secretary_reject', {id: membership_request.id}) }}" method="POST">
                            <button type="submit" class="btn btn-cancel">Rejeter</button>
                        </form>
                    </th>
                </tr>
            {% else %}
                <tr>
                    <th colspan="6">Aucune requête en attente.</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
